@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  --Dark_cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very_dark_blue: hsl(212, 21%, 14%);
  --Dark_grayish_blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: var(--Cream);
}

.product__container {
  width: 80%;
  margin: 2rem 10% 3rem 10%;
  border-radius: 5%;
  background: var(--White);
}

.product__img-mobile {
  width: 100%;
  border-radius: 5% 5% 0% 0%;
}

.descripton__container {
  padding: 1.5rem;
}

.product__type {
  color: var(--Dark_grayish_blue);
}

.product__name {
  margin-top: 1rem;
  color: var(--Very_dark_blue);
  font-weight: 700;
  font-size: 2rem;
  font-family: "Fraunces", serif;
}

.product__description {
  margin-top: 1rem;
  color: var(--Dark_grayish_blue);
}

.price__container {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.product__discount {
  font-family: "Fraunces", serif;
  color: var(--Dark_cyan);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}

.product__cart {
  width: 80%;
  margin: 0 10% 1.5rem 10%;
  padding: 1rem;
  background: var(--Dark_cyan);
  border: none;
  font-family: "Montserrat", sans-serif;
  color: var(--White);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
